span
{
    color: rgba(red, green, blue, alpha);
}
div
{
    background: gray;
}
#po
{
    color: green;
}
#block-model
{
width: 200px;
height: 200px;
background: #85ffeb;
/* margines wewnetrzny */
padding: 20px;

/* padding 15px gra do 30px lewo prawo */
/* padding: 15px 30px; */

/* padding gora prawo dlewo */
/* padding: 20px 30px 10px 50px; */


/* obramowanie brubosc styl kolor */
border: 10px solid rgba(210, 210, 91, 0.2

/* margines zewnętrzny */
margin: 30px 10px;
margin-left: 5px;
}


