body
{
background: gray;
display: flex;
justify-content: center;

}
main
{
    background: lightblue;
    width: 1000px;
    height: 2800px;
    position: relative;
}

main div
{
width: 150px;
height: 150px;
position: relative;

}
#a1 
{
    background: lightcoral;
    position: absolute;
    top: 0px;
    left: 0px;
}
#a2
{
    background: lightpink;
    /* top: 100px; */
    /* left: 50px; */
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 20;
}
#a3
{
    background: lightsalmon;
    position: absolute;
    left: 100px;
    top: 100px;
    /* zmieniapozycja (wyswa do przodu) */
    z-index: 10;

}
#a4
{
    background: lightgreen;
    /* top: -50px; */
    position: absolute;
    left: 150px;
    top: 150px;
    position: sticky;
    

  
}


